body { margin-top:10px; margin-right:10px; margin-bottom:10px; margin-left:10px; font-family:'Arial'; font-size:16px;  background-color:white }
h1 { font-size:24px }
h2.header { font-size:18px; text-decoration:none; text-align:right; color:red; margin:0 0 0 0; padding:0 0 0 0 }
p.termin { border:1px solid #111111; margin:0 0 0 0; padding:0 0 0 0 }
table { border:1px solid #111111; border-spacing:0px }
table.blank { border:0px }
table.inner { border:0px; table-layout:fixed }
tr { vertical-align:top }
tr.woche { height:40px }
td { border:1px solid #111111; padding:1px 1px 1px 1px; vertical-align:top }
td.blank { border:0px }
td.header1 { height:50px; vertical-align:middle; background-color:#E0E0E0 }
td.header2 { height:50px; vertical-align:middle; background-color:#80A0E0 }
td.markiert { background-color:#F4E8E8 }
td.termin { max-height:40px }
td.inner { border:0px; padding:0 0 0 0; height:15px }
a:link, :visited, :active, :focus, :hover { text-decoration:none; color:black }
a.stunde1 { font-size:12px; text-decoration:none; color:black }
a.stunde2 { font-size:12px; text-decoration:none; color:#2948D3; font-weight:bold }
div.termin { font-size:14px; background-color:#FFB; z-index:9 }
span.feiertag { color:red }
.div-table {	display: table; border-collapse: collapse; }
.div-row {	display: table-row; }
.div-cell {	display: table-cell;	vertical-align: top; border-color: #CCCCCC; }
